<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      <div class="interesting">
        <app-quote
          (click)="isFavorite=!isFavorite"
          [ngClass]="{'favorite super-favorite':isFavorite}"
          [ngStyle]="{'width.px':isFavorite?'600':'400'}"
          >
        </app-quote>
      </div>
      <button class="btn btn-primary" 
      (click)="showBoring(boring)"
      >Show Boring Code</button>
      <div class="boring" #boring  style="display: none">
        <app-quote></app-quote>
      </div>
    </div>
  </div>
</div>

