<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
           
            <li role="presentation" class="nav-item" >
              <a routerLink="/" class="nav-link"  routerLinkActive="active"   [routerLinkActiveOptions]="{exact: true}">Projects</a>
            </li>
           
            <li role="presentation" class="nav-item" >
              <a routerLink="/users" class="nav-link"  routerLinkActive="active"   [routerLinkActiveOptions]="{exact: true}">Users</a>
            </li>
          </ul>
  
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
